
<!-- 

  Filename: Week3Demo
  Student Name: Luiz Guilherme Mattos
  StudentID: 301143408
  Date: January, 2021.

-->

<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<%- include partials/footer_nav.ejs%>


<!-- Container with welcome to all pages -->

<body>
<main class="container">
  <div class="jumbotron">
    <h1 align="center" class="display-4">Welcome to my <%= title %> page</h1>
  </div>


</main>

</body>

<!-- Pages Control -->

<%- include partials/home.ejs%>
<%- include partials/about.ejs%>
<%- include partials/services.ejs%>
<%- include partials/contact.ejs%>
<%- include partials/products.ejs%>
        

<%- include partials/scripts_nav.ejs%>

