
<!--
Name: Luiz Guilherme Mattos
ID: 301143408
Course: Software Engineering - Artificial Intelligence Fast Track
Program Code: 3422
Assignment: Book_Store
Github: https://github.com/dnklg/Week-5-6 
Date: February,28, 2021.
*/
-->


<%- include partials/scripts_nav.ejs%>
<%- include partials/header.ejs%>
<%- include partials/main_nav.ejs%>
<%- include partials/footer_nav.ejs%>


<!-- Container with welcome to all pages -->
<html>
<body>
<main class="container">
  <div class="jumbotron">
    <h1 align="center" class="display-4">Welcome to my <%= title %> page</h1>
  </div>


</main>

</body>

<!-- Pages Control -->

<%- include partials/home.ejs%>
<%- include partials/about.ejs%>
<%- include partials/services.ejs%>
<%- include partials/contact.ejs%>
<%- include partials/products.ejs%>


